asgiref==3.11.0
astroid==4.0.3
dill==0.4.0
Django==6.0.1
django-ckeditor==6.7.3
django-ckeditor-5==0.2.20
django-js-asset==3.1.2
isort==7.0.0
mccabe==0.7.0
pillow==12.1.0
platformdirs==4.5.1
pylint==4.0.4
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
sqlparse==0.5.5
tomlkit==0.14.0