{%extends 'infoPersonal/base.html'%}




    {%block brand%}{{information.Name}}{%endblock%}
    {%block title%}Acerca de{%endblock%}
    {%block nameFooter%}{{information.Name}}{%endblock%}
    {%block titleFooter%}{{information.title}}{%endblock%}


{% block background %}{{ background.acercaDeImage.url }}{% endblock %}

{%block header%}
    <h1>Acerca de</h1>
    <span class="subheading">Biografia</span>
{%endblock%}


{%block content%}

   
        
        <div class="row">   
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid avatar" src="{{information.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading">{{information.Name}}</h2>   
                <p>{{information.resume}}</p>
            </div>
        </div>  
   

{%endblock%}

